CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.vs/
bin/*
bin/Simple_C_Chat
bin/runUnitTests
lib/*
*`
*.swp
*.swo
